.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.nav-link{
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 100px;
}
/*g--------dfg-------------*/

.reali{
    margin-top: 150px;
}










.foo h4{
    color:#fff;
}
.footer{
    background-color: darkblue;
    
}
a{
    text-decoration: none;
}
.foo a, .foo i{
    color: rgba(255, 136, 39, 0.842);
    font-size: 20px;
}