

.dm{
    margin-top: 130px;
    background-color:rgba(255, 136, 39, 0.842) ;
}
.se{
    background-color: darkblue;
}
.support{
    margin-left: 10px;
}

.imgs{
    height: 250px;
    transition: 1s all;
}
.card:hover .imgs{
    translate: 10px;
    transform:scale(0.8);
}
.titre{

}
.card{
    transform:scale(1.5);
    opacity:0;
    transition:1s all;
}
.carte{
    transform:scale(1);
    opacity:1;
}
.titre{
    transform:translate(300px);
    opacity:0;
    transition:1s all;
}
.tr{
    transform:translate(0);
    opacity:1;
    
}
/*----------------footer----------------*/
