

.dm{
    margin-top: 130px;
    background-color:rgba(255, 136, 39, 0.842) ;
}
.se{
    background-color: darkblue;
}
.support{
    margin-left: 0px;
}

.imgs{
    height: 250px;
    transition: 1s all;
}
.card:hover .imgs{
    translate: 10px;
    transform:scale(0.8);
}



/*----------------footer----------------*/
