.pre{
    margin-top: 150px;
}
.presentation{
    font-size: 10px;
    
    padding: 30px;
    border-top: 10px solid rgba(255, 136, 39, 0.842);
    
    
    border-radius: 30px;
}
.presentation h1 {
    font-size:30px;
}
.presentation small{
    color: rgba(15, 16, 17, 0.5);
}
.domaine{
    text-align: center;
}
.domaine h2 {
    font-size: 30px;
    background-color: rgba(255, 136, 39, 0.842);
}
.im{
    width: 10px;
}
.text{
    text-shadow: 3px 5px rgb(15, 16, 17);
}
.rea{
    background-color: rgba(255, 136, 39, 0.842);
    margin: 20px;
}
.rea2{
    background-color: rgba(255, 136, 39, 0.842);
    margin: 20px;
}
.imgs{
    transition: 1s all;
}
.card:hover .imgs{
    translate: 30px;
    transform:scale(0.8);
    
}
.card{
    width: 18rem;
}
.t{
    font-size:100%;
}
/*-----------RESPONSIVITE--------------------*/
@media (max-width: 921px) { 
    .card, .imgs{
        width: 80%;
        margin-left: 10%;
        height:80%;
    }
 }
